<%= form_for(@empregado) do |f| %>
  <%= f.hidden_field :image, :value => 0 %>
  <div class="field">
    <%= f.text_field :name, :class => "forminput", :placeholder => "Nome", :required => true %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Criar Utilizador", class: "button btngreen" %>
  </div>
<% end %>
