/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
/* Base page layout */
body {
  margin: 0;
  background-color: #f5f7f8;
  color: #333;
  line-height: 1.5em;
  font-family: sans-serif; 
}

p {text-align: justify;}
a {color: #333; text-decoration: none;}
a:hover {text-decoration: underline;}
header {
  background-color: white;
  height: 80px;
  line-height: 80px; /* Centra verticalmente o texto */
  margin-bottom: 30px;
}

.main > div {
  box-sizing: border-box; /* Faz com que o padding pertença à width do elemento */
  float: left;
}

.sidebar {
  width: 25%;
  padding-left: 15px;
}

.content {
  width: 75%;

  padding-right: 15px;
}

.sidebar > div, .content > div {
  background-color: white;
  padding: 20px;
  margin: 3px 0;
}
.sidebar > div:first-child, .content > div:first-child {
  margin-top: 0;
}

footer {
  margin: 30px auto 0 auto;
  padding: 10px 0;
  text-align: center;
  background-color: white;
  max-width: 1200px;
}
footer a {
  color: #006699;
}


/* Custom Elements */

/*---------------------*\
 * HEADER
 \*---------------------*/
.togglemenu {
  display: none;
}
.logo, .menu {
  float: left;
}

.logo a {
  color: #006699;
  text-decoration: none;
  font-weight: 100;
  font-size:1.75em;
  letter-spacing:-1px;
}

.nav {
  padding: 0 10px 0 30px;
}
.nav a {
  color: #9aa7af;
  text-decoration: none;
  padding: 0 10px;
}
.nav a:hover {
  color: #006699;
}
.nav .selected {
  color: #202528;
}

input[type="search"].search.top {
  width: auto;
}

.avatar {
  width: 40px;
  height: 40px;
  margin: 20px 0;
  border-radius: 2px;
}

.avatar__big {
  width: 60px;
  height: 60px;
  margin: 0;
}

.avatar--mobile {
  display: none;
  height: 60px;
}

.login {
  border-radius: 2px;
  margin-left: -2px;
  background-color: #006698;
  padding: 11px 4px;
  color: white;
  text-decoration: none;
}

/* dropdown button */
.dropdown {
  position: relative;
}

.submenu {
  background-color: #006698;
  position: absolute;
  top: 65px;
  z-index: 100; /* Para ficar em cima do resto da página */
  display: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  border-radius: 2px;
  line-height: 1em;
  right: 0;
  width: 120px;
}

.dropdown ul {
  list-style:none;
  margin:0;
  padding:0;
  font-size: 12px;
}

.dropdown li a {
  color: white;
  display: block;
  padding: 5px 17px;
  text-decoration:none;
}

.dropdown li a:hover {
  background:#0772a8;
}
/*---------------------*\
 * Main Content
 \*---------------------*/
.title {
  text-align: center;
  color: #9aa7af;
  margin: 0;
}

.company {
  text-align: left;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.company p {
  margin:0;
}
.company h3 {
  margin-bottom: 0;
  color:#006699;
}
.company h3 a{
  text-decoration: none;
  color:#006699;
}
.company h3 a:hover {
  background-color: #eee;
}
.company p span, .company p.func {
  color: #9aa7af;
}

.company.center {
  max-width: 500px;
  margin: 0 auto;
  border: 0;
}

.profile .profilebig, .profile .info {
  display: inline-block;
  vertical-align:top;
}
.profile .profilebig img {
  margin-right: 15px;
  width: 200px;
  height: 200px;
}

.info .name {margin: 0; font-weight: lighter; color: #202528;}
.info .job {margin-top:10px; font-weight: lighter; color: #9aa7af;}
.info .job .compedit {color: #006699;} 
.info .location {color: #949596;}
.info .friends {font-weight: lighter;}

.add {
  width: 200px;
}

.newn {
  float: right;
  margin-top: -26px;
}

.newpub p{
  text-align: right;
}

/* About */
.fullwidth {
  background-color: white;
  padding: 30px;
}
.metade {
  box-sizing: border-box;
  display: inline-block;
  width: 49%;
  text-align: center;
  margin: 40px 0;
}
.nt {
  margin-top: -15px;
  color: #9aa7af;
  text-align: center;
  font-weight: bolder;
}
.metade img {
  border-radius: 100px;
  -webkit-transition: all 1s ease-in;

}
.metade img:hover {
  -webkit-transform: rotate(720deg);
}

.ticker .pub{
  margin: -10px;
  padding: 4px;
  text-align: left;
}
.ticker .media {
  border: 0;
}

.cvedit {
  width: 100%;
}


/* Reusable classes */

.fright {
  float: right;
}

.fleft {
  float: left;
}

.none {
  display: none;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.container{
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.nav {
  list-style: none;
  display: inline;
  vertical-align: middle;
}

.nav > li,
.nav > li > a {
  display: inline;
}

.round {
  border-radius: 100px;
}

.media {
  padding: 10px;
margin: 10px auto;
width: 100%;
border: 1px solid #eee;
box-sizing: border-box;
border-radius: 5px;
box-shadow: 0 1px 0 rgba(0,102,153,0.5);
}
.media, .bd {
  overflow:hidden;
}
.media .name{
  margin-top: 0;
}
.media .img {
  float:left;
  margin-right: 10px;
}
.media .img img{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display:block;
  margin: 0;
}
.media .imgExt{
  max-width: 400px;
  max-height: 400px;
}

.button {
  font-size: 1.1em;
  display: inline-block;
  width: 200px;
  background-color: #006699;
  color: white;
  text-align: center;
  padding: 8px 0;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  line-height: inherit;
}
.button:hover {
  background-color: #0772a8;
  text-decoration: none;
}

.btngreen {
  background-color: #329c2a;
}
.btngreen:hover {
  background-color: #36a92e;
}
.btnred {
  background-color: #c0392b;
}
.btnred:hover  {
  background-color: #e74c3c;
}
.btndisabled {
  background-color: #9aa7af;
}

.btnsmall {
  font-size: 14px;
  padding: 2px 10px;
  width: auto;
}

textarea {
  width: 100%;
  min-height: 100px;
  resize: none;
}


.contact {
  height: 60px;
  max-width: 500px;
  margin: 30px auto 20px auto;
}

.contact > a img {
  max-width: 60px;
  max-height: 60px;
  border-radius: 5px;
  float: left;
}

.contact p a img {
  margin-right: 10px;
}

.contact.pending p{
  margin:0 0 0 70px;
  padding: 0;
}

.contact p {
  padding-top: 14px;
  margin:0 0 0 70px;
}

.contact a {
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.contact span a {
  font-weight: normal;
  color: #006699;
}

.contact a:hover {
  text-decoration: underline;
}

input[type="search"] {
  height: 40px;
  width: 100%;
  background-color: #f5f7f8;
  border:0;
  color: #96999a;
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  font-weight: lighter;
  margin-right: 20px;
  background: #f5f7f8 url('/images/search.png') no-repeat right center;
  border-radius: 2px;
  font-size: 100%;
  margin-bottom: 20px;
}

input[type="search"]:focus {
  outline: none;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 1px black;
  -moz-box-shadow: inset 0 0 1px black;
  box-shadow: inset 0 0 1px black;
}


/*------------------*/

/* Responsive stuff
 * Estamos a usar dois breakpoints:
 * 890px (Quando o top menu destruia o header)
 * 700px
 */
.visible-phone     { display: none !important; }
.visible-tablet    { display: none !important; }
.visible-desktop   { display: inherit !important; }
.hidden-desktop    { display: none !important; }

@media (min-width: 700px) and (max-width: 890px) {
  .hidden-desktop    { display: inherit !important; }
  .visible-desktop   { display: none !important ; }
  .visible-tablet    { display: inherit !important; }
  .hidden-tablet     { display: none !important; }
}

@media (max-width: 699px) {
  .hidden-desktop    { display: inherit !important; }
  .visible-desktop   { display: none !important; }
  .visible-phone     { display: inherit !important; }
  .hidden-phone      { display: none !important; }
}

@media (max-width: 890px) {
  /* Responsive Header */
  .togglemenu {
    -webkit-user-select: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    width:1.4em;
    color: #006699;
    display: block;
    font-size:1.35em;
  }

  input[type="search"].search.top {
    width: 100%;
  }

  header {
    height: auto;
    line-height: 4em;
  }
  header .container > div {
    display: block;
    float: none;
    text-align: center;
  }
  header .container > div:not(.logo) {
    display: none;
  }
  header .container > .menu ul  {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  header .container > .menu li.hidden-desktop > a {
    display: block;
    line-height: 2em;
    margin: 20px 0;
    background-color: #9aa7af;
    color: #f5f7f8;
    border-radius: 6px;
  }
  header .container > .menu li > a {
    display: block;
    line-height: 2em;
    margin: 20px 0;
    background-color: #f5f7f8;
    border-radius: 6px;
  }
  .search {
    box-sizing: border-box;
    width: 100%;
  }
  /* Responsive Main */
  .main .sidebar, .main .content {
    float: none;
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 0;
  }
  .newn {
    float: none;
    display: block;
    width: 200px;
    margin: 20px auto 0 auto;  
  }

  .metade {
    width: 100%;
  }

  footer {
    margin: 30px 20px 0 20px;
  }
}
.center {text-align: center;}
.forminput {
  width: 100%;
  display: block;
  height: 44px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.ajeitar {
  margin-left:10px;
  margin-top:8px;
}
.bot {
  margin-top: 40px;
}
